.main {
  padding: 4rem 0rem;
  text-align: center;
}

.headerWrapper {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.headerLogo {
  height: 40px;
  width: auto;
}

.title {
  font-size: var(--font-sm);
  font-weight: bold;
  margin: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: var(--font-lg);
  }
  .headerLogo {
    height: 60px;
  }
}
